{% if pagination.pages > 1 %}
  <nav role="navigation" aria-label="Pagination Navigation" class="pagination-container">
    <ul class="pagination">
      <!-- Paginación anterior -->
      {% if pagination.previous %}
        <li class="pagination-item">
          <a href="{{ pagination.previous.url }}" class="pagination-link pagination-previous">Previous</a>
        </li>
      {% else %}
        <li class="pagination-item disabled">
          <span class="pagination-link pagination-previous">Previous</span>
        </li>
      {% endif %}

      <!-- Números de página -->
      {% for part in pagination.parts %}
        {% if part.is_link %}
          <li class="pagination-item">
            <a href="{{ part.url }}" class="pagination-link">{{ part.title }}</a>
          </li>
        {% elsif part.title %}
          <li class="pagination-item active">
            <span class="pagination-link">{{ part.title }}</span>
          </li>
        {% endif %}
      {% endfor %}

      <!-- Paginación siguiente -->
      {% if pagination.next %}
        <li class="pagination-item">
          <a href="{{ pagination.next.url }}" class="pagination-link pagination-next">Next</a>
        </li>
      {% else %}
        <li class="pagination-item disabled">
          <span class="pagination-link pagination-next">Next</span>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
